<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Travel App</title>
</head>

<body>
    <header class="header">
        <ul class="tabs">
            <li class="tab"><a href="#homeTab">Homepage</a></li>
            <li class="tab"><a href="#blogsTab">Blogs</a></li>
        </ul>
    </header>
    <main>
        <div id="app">
            <form id="form" action="javascript:;" onsubmit="return Client.submitForm(event)">
                <div class="searchinfo headline">
                    Travel App
                </div>
                <div class="searchinfo">
                    <label for="location">Please input Location here</label>
                    <input type="text" id="location" name="location" placeholder="Input country">
                </div>
                <div class="searchinfo">
                    <label for="city">Enter the city of country here</label>
                    <input type="text" id="city" name="city" placeholder="Input city of country">
                </div>
                <div class="searchinfo">
                    <label for="datestart">Start date</label>
                    <input type="Date" id="datestart" name="datestart">
                </div>
                <div class="searchinfo">
                    <label for="datend">End date</label>
                    <input type="Date" id="datend" name="datend">
                </div>
                <div class="button">
                    <input type="submit" value="Send" id="submit">
                </div>
            </form>
            <div class="sidebar">
                <ul>
                    <li><a href="#homeTab">Homepage</a></li>
                    <li><a href="#blogsTab">Blogs</a></li>
                    <li><a href="#aboutTab">About</a></li>
                    <li><a href="#account">Account</a></li>
                    <li><a href="#page">Page</a></li>
                    <!-- Add more menu items as needed -->
                </ul>
            </div>

        </div>
        <div class="searchinfo entry" id="resultform"></div>
    </main>
    <footer class="footer" id="footer">
        <em>Copyright by <strong>ManhCT@fpt.com</strong></em>
        <em><u>See Design System</u></em>
    </footer>
    <!-- Service Workers -->
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>
</body>

</html>